<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671089794606-2645m5i1eoeneudchkb3nd1j7n5e16ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671089794606-2645m5i1eoeneudchkb3nd1j7n5e16ge</string>
	<key>API_KEY</key>
	<string>AIzaSyCEYUqn07r1BsF9pqQD67QiGXUHXdbUJ4s</string>
	<key>GCM_SENDER_ID</key>
	<string>671089794606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zyp.MorningGlory</string>
	<key>PROJECT_ID</key>
	<string>morning-glory-30b51</string>
	<key>STORAGE_BUCKET</key>
	<string>morning-glory-30b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671089794606:ios:92fa3534e88583ef3709bf</string>
</dict>
</plist>
